/*
font-family: 'Poppins', sans-serif;
font-family: 'Roboto Slab', serif;
 */

/* To use in EVERYTHINNNNG */
* {
    font-family: 'Poppins', sans-serif;
}

body {
     margin:0 auto;
     max-width: 1280px;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto Slab', serif;
    margin-block: 0.2rem;
}

h1{
    color:peru;
    /* font-size: 5.653rem; */
    font-size: 3rem;
}

h2{
    font-size: 3.998rem;
}

h3 {
    color:blue;
    font-size: 2.827rem
}

h4 {
    color:chocolate;
    font-size: 1.999rem;
    
}

h5{
    font-size: 1.414rem;
}

h6{
    font-size: 1rem;

}

p {
    line-height: 1.6em;
    margin-block: 0.6em;
}
.container {
    display: flex; /* or inline-flex */
    
  }

header{
    background-color: darkgrey;
    justify-content: space-between;
    align-items: center;
    padding:20px;
}
div {
    /* border: solid 1px yellow;
    width: 100px; */
}

.card{
    background-color:lavender;
    padding: 20px;
    border: 2px solid red;
    margin: 50px;
    width: 250px;
    margin: 50px 30px 10px 30px;

}

#card{
    justify-content: space-around;
}

button{
    background-color: navy;
    color:white;
    border-radius: 50px;
    
}
.btn-large{
    width: 300px;
    height: 80px;
    font-size: 21px;
}

/* is gonna fit inside the card */
img{
    width: 100%;

}

.logo-header{
    width: 100px;
}

/* A specific component on html you gonna target ID */
#hero {
    /* 100% of the viewport */
    height: 100vh; 
    /* background-color: tomato; */
    text-align: center;
    background-image: url('../img/will-turner-kJ-m-ySku7w-unsplash.jpg');
    background-size: cover;
    background-position: top;
    flex-direction: column;

    align-items: center;
    /* This defines the default behavior for how flex items
     are laid out along the cross axis on the current line. 
     Think of it as the justify-content version for the cross-axis
      (perpendicular to the main-axis). */
    
     justify-content: center; 
    /* This defines the alignment along the main axis.  */

    /* align-content: center; */
    /* This aligns a flex container’s lines within when there is extra space in
     the cross-axis, similar to how justify-content aligns individual items within
     main-axis. */
    
}   

#contact{
    height: 50vh;
    background-color: coral;
    /* border: 5px solid black; */
    padding: 50px 100px;

}

#about{
    height: 50vh;
}

footer{
    height: 50vh;
}


/* LINKS */
a:link, a:visited{
    background-color:darkblue;
    text-decoration: none;
    padding: 10px;
}

a:hover{
    background-color: darkcyan;
}

a:active{
    background-color: orange;
}

/* Whyyy?? the a before the class */
a.menu:link, a.menu:visited{
    background: none;
    color: greenyellow;
}

a.menu:hover{
    color:darkred;
}

/* section div h3 {
    border: 2px dashed blue;
} */

/* links icons */

a.icon:link {
    background: none;

}

a.icon:hover {
    background-color: darkviolet;
    color:ghostwhite;
    border-radius: 50%;
}

img {
    filter: contrast(100%);
    filter: grayscale(50%);
    filter: saturate(200%);

}

/* --------------------------------------------------- */
/* TABLET */
@media only screen and (min-width:600px) and (max-width:767px){
    h1 {
        background-color: blue;
        font-size: 4rem;
    }

}


/* ---------------------------------------------------- */
/* DESKTOP */
@media only screen and (min-width: 768px) {
    h1 {
        background-color: magenta;
        font-size: 5.653rem;
    }

}

/* --------------------- */
/* MOBILE */
@media only screen and (max-width: 600px) {
    h1 {
        background-color: purple;
    }

}